<config>
	<stages>
		<parametersearch>1</parametersearch>
		<plotdata>1</plotdata>
		<trainingfile>1</trainingfile>
		<svmtraining>1</svmtraining>
		<kernelCV>1</kernelCV>
	</stages>
	<praat>
		<systemorder>5</systemorder>
		<syllableshift>0</syllableshift>
		<slopemin>-10</slopemin>
		<slopemax>10</slopemax>
		<offsetmin>70</offsetmin>
		<offsetmax>120</offsetmax>
		<strengthmin>1</strengthmin>
		<strengthmax>80</strengthmax>
	</praat>
	<findqta>
		<randominit>5</randominit>
		<algorithm>34</algorithm>
	</findqta>
	<svm>
		<kernel>2</kernel>
		<epsilon>0.1</epsilon>
		<constantSlope>32.0</constantSlope>
		<gammaSlope>0.0078125</gammaSlope>
		<constantOffset>0.0078125</constantOffset>
		<gammaOffset>0.0078125</gammaOffset>
		<constantStrength>0.0078125</constantStrength>
		<gammaStrength>0.0078125</gammaStrength>
		<constantDuration>0.0078125</constantDuration>
		<gammaDuration>0.0078125</gammaDuration>
	</svm>
</config>
