<config>
	<path>test/corpus</path>
	<praat>
		<systemorder>5</systemorder>
		<syllableshift>30</syllableshift>
		<slopemin>-10</slopemin>
		<slopemax>10</slopemax>
		<offsetmin>70</offsetmin>
		<offsetmax>120</offsetmax>
		<strengthmin>1</strengthmin>
		<strengthmax>80</strengthmax>
	</praat>
	<optimization>
		<randominit>5</randominit>
		<algorithm>34</algorithm>
	</optimization>
</config>
