# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
bin/*

# Eclipse
.settings/*
.cproject
.project

# tools
tools/svm-scale
tools/svm-train
tools/svm-predict
tools/grid.py

# libsvm
src/svm.cpp
inlucde/svm.h

# tmp
.tmp/*

# test
*.txt
test/data/FEATURES.csv
test/data/TARGETS.csv
test/data/TRAINING.csv
test/data/corpus.data
test/data/corpus.training
test/data/corpus.test
test/plots/*
test/svm/*
test/resynthesis/*
*.txt

