# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
bin/*

# Eclipse
.settings/*
.cproject
.project

# tools
tools/svm-scale
tools/svm-train
tools/svm-predict
tools/grid.py

# libsvm
src/svm.cpp
inlucde/svm.h

# tmp
.tmp/*

# test
test/data/plot-files/*
test/data/svm-prediction/*
test/plots/*
test/audios/*

test/data/corpus-features.csv
test/data/corpus-initial.csv
test/data/corpus-targets.csv
test/data/corpus-training.csv

test/data/samples-all.csv
test/data/samples-test.csv
test/data/samples-training.csv

